<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} - Meu Portfólio</title>
</head>
<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home (Sobre Mim)</a></li>
                <li><a href="{{ url_for('page1') }}">Perfil Profissional</a></li>
                <li><a href="{{ url_for('page2') }}">Meus Hobbies</a></li>
                <li><a href="{{ url_for('page3') }}">Expectativas de Vida</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>